body{
    font-family: 'KoHo', sans-serif;
    color: #bbe1fa;
    font-size: 1em;
    margin: 0 0 0 0;

    background-image: url('img/kelly-sikkema-xoU52jUVUXA-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #1b262c;
    display: flex;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;

    height: 6vh;
    min-height: 50px;
    width: 100%;
}
main{
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    height: 88vh;
}
footer{
    background-color: #1b262c;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    height: 6vh;
    min-height: 50px;
    width: 100%;
}
a{
    color: #3282b8;
}
h1{
    background-color: #0f4c75;
    border-radius: 10px;
    padding: 0px 20px;

    margin-left: 10vw;
}

#buttonCalc, #openedCalc{
    font-size: 1.7em;
    display: grid;

    background-color: #1b262c;
    border-radius: 10px;
    padding: 25px;

    grid-gap: 10px;
}
#buttonCalc{
    display: none;
    grid-template-columns: repeat(5);
}
#buttonCalc > .btn, .btn2, .btn3{
    display: flex;

    justify-content: center;
    align-items: center;

    color: #bbe1fa;
    background-color: #0f4c75;
    border-radius: 10px;
    padding: 5px;
}
#buttonCalc > .btn{
    user-select: none;
    height: 70px;
    width: 70px;
}
#buttonCalc > .btn2{
    grid-column: 5;
    grid-row: 4 / 6;
    height: auto;
}
#buttonCalc > .btn3{
    grid-column: 5;
    grid-row: 6 / 8;
    height: auto;
}
#buttonCalc > .result{
    grid-column: 1 / 6;
    height: 90px;
}
#buttonCalc > input{
    grid-column: 1/6;
    height: 90px;
    font-size: 1em;

    border-radius: 10px;
    border: none;
}
#openedCalc > .welcome{
    color: #bbe1fa;
    background-color: #0f4c75;
    border-radius: 10px;
    padding: 5px;

    text-align: center;
}
#buttonCalc > .btn:hover{
    color: #c7e7fc;
    background-color: #1469a1;
    border-radius: 10px;
    padding: 5px;

    cursor: pointer;

    transition: all .2s ease-in;
}
@media (max-width: 800px) {
    body{
        font-size: 0.8em;
    }
    #buttonCalc, #openedCalc{
        font-size: 2em;
    }
}
@media (max-height: 780px) {
    body{
        font-size: 0.8em;
    }
    header{
        justify-content: center;
    }
    h1{
        margin: 0 0 0 0;
    }
    #buttonCalc, #openedCalc{
        font-size: 1.2em;
    }
    #buttonCalc > .btn{
        user-select: none;
        height: auto;
        width: 40px;
    }
}
@media (max-height: 450px) {
    #buttonCalc > .btn{
        user-select: none;
        height: 8px;
        width: 40px;
    }
    #buttonCalc > .btn2, #buttonCalc > .btn3{
        user-select: none;
        height: auto;
    }
}
@media (max-width: 770px) {
    header, footer{
        font-size: 1em;
    }
}
@media (max-width: 500px) {
    body{
        font-size: 0.8em;
    }
    header{
        justify-content: center;
    }
    h1{
        margin: 0 0 0 0;
    }
    #buttonCalc, #openedCalc{
        font-size: 1.2em;
    }
    #buttonCalc > .btn{
        user-select: none;
        height: auto;
        width: 40px;
    }
}
